.body{
    padding:0;
    margin:0;
}

ul{
    padding:0;
}

.gallery {
    display:flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    margin: 24px auto;
    justify-content: center;
    
}

.gallery-item {
    overflow: hidden;
    object-fit: cover;
     list-style-type:none;
     width:360px;
     height:200px;
     align-items: center;
     justify-items: center;
}

.gallery-item:hover{
    transform: width height;
    transition: transform 0.3s ease;
    width:376px;
    height:208px;
}

.gallery-image {
    width:100%;
}

.modal{
    background-color:#2E2F42;
}
