.body{
    padding:0;
    margin:0;
}

ul{
    padding:0;
}

.gallery {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin: 100px auto;
    justify-content: center;
}

.gallery-item {
 list-style-type:none;
}

.gallery-image {
    width:360px;
    height:300px;
}